
<div class="row">
    <div id="body">
        <ul id="contacts"></ul>
    </div>
</div>
<form id="saveContactForm" method="post">
    <h3>Create a new Contact</h3>
    <p>
        <label for="contactId">Contact Id:</label>
        <input type="text" name="Topic" />
    </p>
    <p>
        <label for="contactName">Contact Name:</label>
        <input type="text" name="Message" />
    </p>
    <input type="button" id="saveContact" value="Save" />
</form>